/* GENERAL */

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  background-image: url(../images/shade.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.right-text{
  text-align: right;
}

.left-text{
  text-align: left;
}

h1{
  font-family: 'europa';
  font-weight: 700;
  text-align: center;
  letter-spacing: 6px;
  font-size: 83px;
  color: #333333;
}

a {
  color: white !important;
  text-decoration: none !important;
}

h2{
  letter-spacing: 5px;
}

p {
  margin: 0 0 10px;
  font-family: 'europa';
  font-weight: 300;
  letter-spacing: 1px;
}

ul{
  list-style: none;
}

li{
  display: inline-block;
}

.kaitlyn-hova-photo{
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: -10;
  margin-top: -144px;
}


#brain-areas{
  text-align: center;
  position: relative;
  border-top: 9px solid #1d2121;
  margin-top: -300px;
}

/* LEFT BRAIN AREA */

#left-brain{
  background-color: #3e4e5b;
  color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50.3px;
}

.leftbrain-btn{
  background-color: #a38a7e;
  padding: 13px;
  padding-bottom: 5px;
  font-size: 20px;
  width: 100%;
  font-family: 'europa';
  font-weight: 700;
  max-width: 153px;
  position: relative;
  margin: 0 auto;
  border-bottom: 7px solid #7f747e;
  border-radius: 3px;
  margin-top: 23px;
}


/* RIGHT BRAIN AREA */

#right-brain{
  background-color: #f16467;
  color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 55px;
}

#right-brain h2{
  margin-top: -19px;
}

.violectra{
  width: 100%;
  max-width: 350px;
  margin-bottom: 13px;
}

.rightbrain-btn{
  background-color: #f0bb7a;
  padding: 13px;
  padding-bottom: 5px;
  font-size: 20px;
  width: 100%;
  font-family: 'europa';
  font-weight: 700;
  max-width: 153px;
  position: relative;
  margin: 0 auto;
  border-bottom: 7px solid #d67234;
  border-radius: 3px;
  margin-top: 23px;
  transition: .5s;
}

.btn{
  transition: .5s;
}
.btn:hover{
  opacity: .5;
}

.rightbrain-btn :hover{
  opacity: .5 !important;
}

/* FOOTER*/

.footer{
  background-color: #1e2221;
  color: #525b5a;
  height: 135px;
  border: 1px solid #1e2221;
  word-spacing: 20px;
  padding-top: 33px;
}

.footer-menu {
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
  top: 25px;
  font-size: 17px;
  letter-spacing: 2px;
}

.footer .fa{
  font-size: 19px;
  color: #1d2121;
  background-color: #525b5a;
  padding: 13px;
  border-radius: 100px;
  font-size: 21px !important;
  margin: 10px;
  transition: .5s;
}

.footer  li a {
  color: #525b5a !important;
  transition: .5s;
}

.footer .fa:hover{
  background-color: #a38a7e;
}

.footer-menu li a:hover {
  color: whitesmoke !important;
}

.footer .fa-twitter{
  padding-left: 14px;
  padding-right: 14px;
}

.footer .fa-facebook{
  padding-left: 17px;
  padding-right: 17px;
}

/* MOBILE STYLES */
@media(max-width:768px){
  .footer{
    text-align:center;
    height: auto;
  }
  h1{
    font-size: 75px;
  }
  .right-text {
    text-align: center;
    padding-bottom: 40px;
  }
  .footer-menu {
    text-align: center;
    word-spacing: 20px;
    letter-spacing: 3px;
    position: relative;
    top: 18px;
    padding: 0px;
    font-size: 15px;
    z-index: 99;
  }
}

/* iPAD SPECIFIC STYLES */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  .footer-menu {
    top: 0px;
  }
  .footer .fa{
  	position: relative;
    top: -15px;
  }
}
