/* GENERAL */
h1{
  font-family: 'europa';
  font-weight: 700;
  text-align: center;
  letter-spacing: 6px;
  font-size: 83px;
  color: #333333;
}

a {
  color: white !important;
  text-decoration: none !important;
}

h2{
  letter-spacing: 5px;
}

p {
  margin: 0 0 10px;
  font-family: 'europa';
  font-weight: 300;
  letter-spacing: 1px;
}

ul{
  list-style: none;
}

li{
  display: inline-block;
}

.kaitlyn-hova-photo{
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: -10;
  margin-top: -144px;
}


#brain-areas{
  text-align: center;
  position: relative;
  border-top: 9px solid #1d2121;
  margin-top: -248px;
  height: 496px;
}

/* LEFT BRAIN AREA */

#left-brain{
  background-color: #3e4e5b;
  color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50.3px;
  height: 487px;
}

.leftbrain-btn{
  background-color: #a38a7e;
  padding: 13px;
  padding-bottom: 5px;
  font-size: 20px;
  width: 100%;
  font-family: 'europa';
  font-weight: 700;
  max-width: 153px;
  position: relative;
  margin: 0 auto;
  border-bottom: 7px solid #7f747e;
  border-radius: 3px;
  margin-top: 23px;
}


/* RIGHT BRAIN AREA */

#right-brain{
  background-color: #f16467;
  color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 55px;
  height: 487px;
}

#right-brain h2{
  margin-top: -19px;
}

.violectra{
  width: 100%;
  max-width: 350px;
  margin-bottom: 13px;
}

.rightbrain-btn{
  background-color: #f0bb7a;
  padding: 13px;
  padding-bottom: 5px;
  font-size: 20px;
  width: 100%;
  font-family: 'europa';
  font-weight: 700;
  max-width: 153px;
  position: relative;
  margin: 0 auto;
  border-bottom: 7px solid #d67234;
  border-radius: 3px;
  margin-top: 23px;
  transition: .5s;
}

.btn{
  transition: .5s;
}
.btn:hover{
  opacity: .5;
}

.rightbrain-btn :hover{
  opacity: .5 !important;
}

/* FOOTER*/

.footer{
  background-color: #1d2121;
  color: #525b5a;
  padding: 50px 20 80px;
  height: 200px;
}

.footer-menu{
  text-align: right;
  word-spacing: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
  top: 30px;
}

.footer .fa{
  font-size: 19px;
  color: #1d2121;
  background-color: #525b5a;
  padding: 13px;
  border-radius: 100px;
  font-size: 21px !important;
  margin: 10px;
  transition: .5s;
}

.footer a {
  color: #525b5a !important;
}

.footer .fa:hover{
  background-color: #3e4e5b;
}

.footer .fa-twitter{
  padding-left: 14px;
  padding-right: 14px;
}

.footer .fa-facebook{
  padding-left: 17px;
  padding-right: 17px;
}

/* MOBILE STYLES */
@media(max-width:768px){
  .footer{
    text-align:center;
    height: 135px;
  }
  .footer-menu {
    text-align: center;
    word-spacing: 20px;
    font-weight: 300;
    letter-spacing: 3px;
    position: relative;
    top: -40px;
    padding: 0px;
    font-size: 20px;
  }
}

@media(max-width:990px){
  #brain-areas{
      height: 100%;
  }
  footer{
      margin-top: 180px;
  }
}

/* FIREFOX SPECIFIC STYLES */
@-moz-document url-prefix() {
  @media(max-width:990px){
    footer {
        margin-top: 212px;
    }
  }
}

/* SAFARI SPECIFIC STYLES */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @media(max-width:990px){
      footer {
          margin-top: 134px;
      }
    }
	}

/* CHROME SPECIFIC STYLES */
  @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    @media(max-width:990px){
      footer{
          margin-top: 180px;
      }
    }
  }
